/*общие свойства*/

html,
body {
  margin: 0;
  padding: 0;

  font-size: 13px;
  line-height: 18px;
  color: #000000;
  font-family: "PT Sans", "Candara", "Tahoma", sans-serif;
  font-weight: 400;

  background-color: #ffffff;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.container {
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}

.visually-hidden {
  position: absolute;
  border: 0;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
}

.styled-heading {
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  font-family: "Cuprum", "Verdana", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}

.simple-heading {
  font-size: 30px;
  line-height: 30px;
  font-family: "Cuprum", "Verdana", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}

.btn {
  border: 1px solid #e5e5e5;

  font: inherit;
  text-transform: uppercase;

  background-color: #ffffff;
}

.btn-primary {
  border: none;

  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  font-family: "Cuprum", "Verdana", sans-serif;
  text-transform: uppercase;

  background-color: #ee3643;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: #ca2c37;
}

.btn-primary:active {
  background-color: #ba2732;
}

/*шапка*/

.page-header {
  margin-bottom: 59px;
  padding-bottom: 60px;

  font-family: "Cuprum", "Arial Narrow", "Arial", sans-serif;

  background-color: #f3f7f9;
  background-image: url(../img/white-pattern.png);
}

.header-top {
  min-height: 42px;

  font-size: 17px;
  line-height: 18px;
  color: #ffffff;

  background-color: #293449;
}

.header-top .container {
  display: flex;
}

.page-logo {
  width: 220px;
  margin: 0;

  font-size: 24px;
  line-height: 24px;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #ee3643;
}

.inner-page .page-logo:hover,
.inner-page .page-logo:focus,
.inner-page .footer-logo:hover,
.inner-page .footer-logo:focus {
  background-color: #ca2c37;
}

.inner-page .page-logo:active,
.inner-page .footer-logo:active {
  background-color: #ba2732;
}

.search-form input {
  width: 270px;
  border: none;
  box-sizing: border-box;

  font-size: 17px;
  line-height: 1.2;
  color: #000000;
  font-family: inherit;

  background-color: #293449;
}

.search-form input:hover {
  background-color: #212a3a;
}

.search-form input:focus {
  background-color: #ffffff;
  outline: none; /* состояние фокуса задается изменением фона согласно макету  */
}

/*верхнее меню покупателя*/

.shopping-menu {
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.shopping-menu a {
  display: inline-block;
  width: 150px;

  color: #ffffff;
}

.bookmarks a:not(.empty),
.cart a:not(.empty){
  background-color: #ee3643;
}

.shopping-menu a:hover,
.shopping-menu a:focus {
  background-color: #212a3a;
}

.shopping-menu a:active {
  color: rgba(255, 255, 255, 0.6);

  background-color: #161d29;
}

.shopping-menu .order {
  background-color: #63a63e;
}

.shopping-menu .order:hover,
.shopping-menu .order:focus {
  background-color: #5fbb2d;
}

.shopping-menu .order:active {
  color: rgba(255, 255, 255, 0.51);

  background-color: #518534;
}

/*средняя часть шапки*/

.header-middle {
  display: flex;
  min-height: 158px;
}

.header-middle p {
  margin: 0;
}

.site-description {
  width: 300px;

  font-size: 16px;
  line-height: 23px;
  color: #ff5357;
  font-style: italic;
}

.header-contacts {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.header-contacts .phone {
  border: 3px solid #ffffff;

  font-size: 21px;
  line-height: 21px;
  color: #fb463c
}

.header-contacts .address {
  font-size: 14px;
  line-height: 24px;
  color: #3d546e;
}

.user-navigation {
  width: 300px;
}

.user-navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.non-authorised a,
.user-profile a {
  font-size: 21px;
  line-height: 21px;
  color: #000000;

  background-color: #ffffff;
}

.user-menu a {
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  text-decoration: underline;
}

.non-authorised a:hover,
.non-authorised a:focus,
.user-menu a:hover,
.user-menu a:focus {
  color: #ee3643;
}

.non-authorised a:active,
.authorised a:active {
  color: rgba(0, 0, 0, 0.3);
}

/*нижнее меню сайта*/

.header-bottom {
  min-height: 55px;

  font-size: 17px;
  line-height: 17px;
  color: #ffffff;

  background-color: #32425c;
}

.main-menu {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;

  list-style: none;
}

.main-menu a {
  color: #ffffff;
}

.main-menu a:hover,
.main-menu a:focus {
  background-color: #293449;
}

.main-menu a:active {
  color: rgba(255, 255, 255, 0.5);

  background-color: #1d2739;
}

/*рекламный блок*/

.promo {
  margin-bottom: 53px;

  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  font-family: "Cuprum", "Arial Narrow", "Arial", sans-serif;
}

.promo-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  list-style: none;
}

.promo-item {
  width: 300px;
  min-height: 123px;
  margin-bottom: 20px;
}

.promo-title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

.new-label {
  color: #ffffff;
  font-weight: 400;

  background-color: #ee3643;
}

.btn-promo {
  color: #ffffff;
  text-transform: uppercase;

  background-color: rgba(0, 0, 0, 0.1);
}

.btn-promo:hover,
.btn-promo:focus {
  background-color: rgba(0, 0, 0, 0.2);
}

.btn-promo:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.promo-materials {
  background-color: #ffbf47;
}

.promo-tool {
  background-color: #3bbce3;
}

.promo-mechanism {
  background-color: #dc91d8;
}

.promo-discount {
  background-color: #8ed78f;
}

.promo-delivery {
  margin-left: auto;

  background-color: #ffc047;
}

/*слайдер в промо-блоке*/

.slider {
  position: relative;
  width: 621px;
  height: 266px;
  margin-bottom: 20px;
}

.promo .slide {
  display: none;
  width: 621px;
  height: 266px;
  border-top: 1px solid transparent;
}

.promo .slide-1 {
  display: block;

  background-color: #9b8975;
  background-image: url(../img/slide-1-background.jpg);
  background-position: top left;
  background-repeat: no-repeat;
}

.promo .slide-2 {
  background-color: #6a4f46;
  background-image: url(../img/slide-2-background.jpg);
  background-position: top left;
  background-repeat: no-repeat;
}

.slide-title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.slide-slogan {
  font-size: 18px;
  line-height: 24px;
  font-family: "PT Sans", "Candara", "Tahoma", sans-serif;
}

.slider .slide-toggle,
.slider .btn {
  position: absolute;
  top: 0;
  left: 0;
}

/*популярные товары и производители*/

.popular-producers {
  margin-bottom: 65px;
}

.popular-header {
  display: flex;
  justify-content: space-between;
  min-height: 89px;
  margin-bottom: 20px;

  background-color: #f9f5f0;
}

.popular-header .btn-container {
  width: 300px;
}

.popular-header a {
  display: inline-block;
  width: 253px;
  box-sizing: border-box;
}

.catalog-list,
.producers-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog-item,
.producers-item {
  width: 218px;
  margin-bottom: 20px;
  border: 1px solid #eaeaea;

  font-weight: 700;
}

.catalog-item {
  min-height: 316px;
}

.producers-item {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 143px;
}

.catalog-item .item-title {
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}

.catalog-item .old-price,
.catalog-item .actual-price {
  font-size: 17px;
  line-height: 18px;
  color: #a9a9a9;
  text-transform: uppercase;
}

.catalog-item .actual-price {
  color: #ffffff;

  background-color: #ee3643;
}

.overlay {
  display: none;
}

.catalog-item:hover .overlay {
  display: block;
}

.buy-item {
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  font-family: "Cuprum", "Arial Narrow", "Arial", sans-serif;
  text-transform: uppercase;

  background-color: #63a63e;
}

.buy-item:hover,
.buy-item:focus {
  background-color: #5fbb2d;
}

.buy-item:active {
  background-color: #518534;
}

.to-bookmarks {
  border: 3px solid #63a63e;

  font-size: 14px;
  line-height: 18px;
  color: #32425c;
  font-family: "Cuprum", "Arial Narrow", "Arial", sans-serif;
  text-transform: uppercase;

  background-color: #ffffff;
}

.to-bookmarks:hover,
.to-bookmarks:focus {
  border-color: #32425c;
}

.to-bookmarks:active {
  opacity: 0.3;
  outline: none; /* активное состояние задается изменением прозрачности элемента согласно макету */
}

/*сервисы*/

.services {
  padding-bottom: 9px;

  line-height: 24px;

  background-color: #f4f8f9;
  background-image: url(../img/services-pattern.png);
}

.services h2 {
  padding-top: 59px;
}

.slider-columns {
  display: flex;
  margin-top: 74px;
}

.services-slider-toggles {
  width: 240px;
  margin: 0;
  margin-right: 60px;
  padding: 0;
  list-style: none;

  font-size: 21px;
  line-height: 30px;
  color: #ffffff;
  font-family: "Cuprum", "Arial Narrow", "Arial", sans-serif;
  font-weight: 700;
}

.services-slider-toggles label {
  display: block;
  min-height: 60px;
  border-bottom: 1px solid #4d637b;

  background-color: #32425c;
}

.services-toggle:last-child label {
  border: none;
}

.services-slider-toggles label:hover {
  background-color: #293449;
}

input[name="list-toggle"]:checked + label {
  color: #32425c;

  background-color: #ffffff;
}

.sliders ul {
  min-height: 284px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sliders .styled-heading {
  font-size: 36px;
  line-height: 36px;
}

.sliders h3 {
  margin-top: 0;
}

.sliders p {
  width: 400px;
}

/*информация и контакты*/

.information,
.map-section {
  line-height: 24px;
}

.delivery-partners {
  list-style: none;

  font-size: 18px;
  line-height: 20px;
  font-family: "Cuprum", "Arial Narrow", "Arial", sans-serif;
}

.inner-page .information {
  background-color: #f2f6f8;
}

/*подвал*/

.page-footer {
  color: #f3f7f9;
  font-family: "Cuprum", "Arial Narrow", "Arial", sans-serif;

  background-color: #32425c;
}

.footer-top {
  font-size: 18px;
  line-height: 24px;
}

.footer-logo {
  font-size: 30px;
  line-height: 30px;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #ee3643;
}

.footer-contacts {
  color: #f3f7f9;
}

.footer-menu,
.footer-promo,
.socials {
  list-style: none;
}

.footer-menu a {
  color: #f1f5f7;
}

.footer-menu a:hover,
.footer-menu a:focus,
.footer-promo a:hover,
.footer-promo a:focus {
  text-decoration: underline;
}

.footer-menu a:active,
.footer-promo a:active {
  text-decoration: none;
  opacity: 0.5;
}

.footer-promo a {
  color: #ffd180;
}

.footer-bottom {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;

  background-color: #293449;
}

.footer-link {
  color: #ffd180;
}

.footer-link:hover,
.footer-link:focus {
  text-decoration: underline;
}

.footer-link:active {
  color: #ee3643;
  text-decoration: none;
}

/*модальные окна карты и входа*/

.modal-map {
  position: fixed;
  left: 50%;
  top: 150px;

  display: none;
  width: 940px;
  height: 450px;
  margin-left: -470px;

  background-color: #565656;
}

.modal-form {
  position: fixed;
  left: 50%;
  top: 300px;

  display: none;
  width: 620px;
  height: 426px;
  margin-left: -310px;

  background-color: #ffffff;
}

.modal-form label {
  font-size: 18px;
  line-height: 18px;
  font-family: "Cuprum", "Arial Narrow", "Arial", sans-serif;
}

.modal-form input,
.modal-form textarea {
  border: 2px solid #dee3e4;

  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", "Candara", "Tahoma", sans-serif;
}

.modal-form textarea {
  resize: none;
}

/*внутренняя страница - "хлебные крошки" и заголовок*/

.breadcrumbs {
  list-style: none;

  text-transform: uppercase;
}


.breadcrumbs a {
  color: #000000;
}

.page-title {
  background-color: #f2f6f8;
}

/*фильтр*/

.filter {
  text-transform: uppercase;
}

.filter-title {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;

  background-color: #f7f3ec;
}

.filter fieldset {
  border: none;
}

.filter legend {
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
}

.price-outputs {
  font-size: 16px;
  line-height: 18px;
  color: #444444;
}

.price-outputs output {
  font-size: 17px;
  color: #000000;

  background-color: #f7f3ec;
}

fieldset.producers label {
  font-size: 15px;
  line-height: 20px;
}

fieldset.power-supply label {
  font-size: 14px;
  line-height: 20px;
}


.custom-input:disabled + label {
  opacity: 0.4;
}

/*сортировка*/

.sorting {
  text-transform: uppercase;

  background-color: #f7f3ec;
}

.sorting ul {
  list-style: none;
}

.sorting a.current {
  color: #ee3643;
}

.sorting a[href] {
  border-bottom: 1px dotted #ee3643;

  color: rgba(0, 0, 0, 0.3);
}

.sorting a[href]:hover,
.sorting a[href]:focus {
  border-bottom: 1px solid #ee3643;

  color: #000000;
}

.sorting a[href]:active {
  color: #ee3643;
  border: none;
}


/*постраничная навигация*/

.pagination {
  list-style: none;
}

.pagination .btn {
  color: #000000;
}

.pagination a[href]:hover,
.pagination a[href]:focus {
  border-color: #bdc6ca;
}

.pagination a[href]:active {
  border-color: #ee3643;
}


.current-page .btn {
  border-color: #ee3643;

  color: #ffffff;

  background-color: #ee3643;
}

/*модальное окно корзины*/

.modal-cart {
  position: fixed;
  left: 50%;
  top: 150px;

  display: none;
  width: 620px;
  height: 273px;
  margin-left: -310px;

  font-family: "Cuprum", "Arial Narrow", "Arial", sans-serif;

  background-color: #ffffff;
}

.popup-message {
  font-size: 30px;
  line-height: 30px;
}

.cart-buttons {
  background-color: #f1f1f1;
}

btn-alternative {
  border: none;
}
